body {
  font-size: 50px;
}

section {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr 250px);
  gap: 1rem
}


article {
  background-color: goldenrod;
}

article:nth-child(even) {
  background-color: blue;
}

